@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
	background-image: url(./images/bg-main-desktop.png);
	background-repeat: no-repeat;
	background-size: auto cover;
	font-family: 'Space Grotesk';
}

main {
	display: flex;
	flex-direction: row;
}

.left-side {
	padding-left: 10em;
	margin-right: -10em;
}

.cartao-frente {
	display: flex;
	position: relative;
	margin-top: 4em;
	padding-bottom: 2em;
	color: white;
}

.info-cartao-frente {
	position: relative;
	left: -26em;
	top: 1em;
}

.info-escrita-cartao {
	margin-top: 3em;
}

#numero-cartao {
	font-size: 20pt;
}

.nome-validade-cartao {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 24em;
}

.cartao-fundo {
	display: flex;
	position: relative;
	margin-left: 5em;
}

.right-side {
	display: flex;
	margin-top: 10em;
	width: 50em;
}

fieldset {
	border: none;
}

input {
	padding: 8px;
	border-radius: 5px;
	border: solid hsl(279, 6%, 55%) 1px;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} */

input[type='number'] {
	-moz-appearance: textfield;
}

.validade-form {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.validade-cvc-form {
	display: flex;
	flex-direction: row;
}
