@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
	background-image: url(./images/bg-main-desktop.png);
	background-repeat: no-repeat;
	background-size: auto cover;
	font-family: 'Space Grotesk';
}

main {
	display: flex;
	flex-direction: row;
}

.left-side {
	padding-left: 10em;
	margin-right: -15em;
}

.cartao-frente {
	display: flex;
	position: relative;
	margin-top: 4em;
	padding-bottom: 2em;
	color: white;
	width: 60%;
}

.img-cartao {
	width: 25em;
}

.info-cartao-frente {
	position: relative;
	left: -24em;
	top: 1em;
}

#numero-cartao {
	font-size: 20pt;
	margin-top: 2em;
}

.nome-validade-cartao {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 27em;
	margin-top: -2em;
	font-size: 10pt;
}

.cartao-fundo {
	display: flex;
	position: relative;
	margin-left: 5em;
	width: 60%;
}

.cvc-cartao {
	position: relative;
	top: 6em;
	margin-top: 19px;
	left: -6em;
	color: white;
	height: 25px;
	font-size: 10pt;
}

.right-side {
	display: flex;
	margin-top: 10em;
	width: 50em;
}

form {
	width: 300px;
}

form legend {
	font-size: 8pt;
}

fieldset {
	border: none;
}

input {
	padding: 8px;
	border-radius: 5px;
	border: solid hsl(279, 6%, 55%) 1px;
	font-family: 'Space Grotesk';
	width: 85%;
}

input::placeholder {
	color: hsl(279, 6%, 55%);
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} */

input[type='number'] {
	appearance: textfield;
}

.validade-form {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.validade-cvc-form {
	display: flex;
	flex-direction: row;
}

#cvc-form {
	width: 72%;
}

button {
	width: 85%;
	margin-left: 4%;
	padding: 10px;
	background-color: hsl(278, 68%, 11%);
	color: white;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: hsl(277, 53%, 31%);
}
